
.container{
  position: absolute;
  height: 1000px;
  width: 850px;
  left: 410px;
  top: 59px;
  border-radius: 20px;
  background-color: #1E1E1F;
  z-index: 0;
  box-shadow: 0 0 0 0.2px white;
}

.container h1{
  padding-left: 40px;
  color: white;
}

.small_line{
  height: 10px;
  width: 37px;
  background-color: #FEC362;
  margin-left: 40px;
  border-radius: 9px;
}

.Boxes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap:65px;
  margin-left: 40px;
  width:500px;
  height: 400px;
  background-color: transparent;
  padding: 0px;
}

.inner_box{
  position: relative;
  margin-top: 20px;
  height: 140px;
  width: 350px;
  background-color: #222224;
  box-shadow:0.4px 0.4px white inset ;
  border-radius: 20px;
}

.inner_box h2{
  color: white;
  font-family: sans-serif;
  margin-left: 80px;
  margin-top: 30px;
  margin-bottom:10px ;
}

.inner_box p{
  color: rgb(196, 193, 193);
  font-family: sans-serif;
  font-size: 15px;
  margin-left: 80px;
 
}

.inner_box img{
  position: absolute;
  top: 35px;
  left: 20px;
}



.client{
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: space-evenly;
  gap: 20px;   
  width: 100%;
  max-width:700px;
  margin-left: 75px;
  background-color: #1E1E1F;
  /* position: fixed; */
  /* overflow-x: scroll;   */
}

.right{
  height: 50px;
  width: 50px;
  background-color: cyan;
  border-radius: 50%;
  position: relative;
  bottom: 105px;
  left: 15px;

}

.left{
  height: 50px;
  width: 50px;
  background-color: cyan;
  border-radius: 50%;
  position: relative;
  bottom: 55px;
  left: 785px;
}

.t{
  height: 60px;
  flex-shrink: 0;
  width: 100px;
}


